.profile-dropdown {
    /* Estilos para el contenedor del menú desplegable */
    background-color: #fb9352;
    color: #d81d1d; /* Cambia el color de las letras a blanco */
    text-align: left; /* Alinea el texto a la izquierda */
    outline: none; /* Elimina el contorno al enfocar */
}

.profile-dropdown .dropdown-menu {
    /* Estilos para el menú desplegable en sí */
    background-color: #6c4836;
    border-radius: 0;
}

.profile-dropdown .dropdown-menu .dropdown-item {
    /* Estilos para los elementos del menú desplegable */
    color: #cf8b2c; /* Cambia el color de las letras a blanco */
    text-align: left; /* Alinea el texto a la izquierda */
}

.profile-dropdown .dropdown-menu .dropdown-item:hover {
    /* Estilos para los elementos del menú desplegable al pasar el mouse */
    background-color: #fb9352;
}

.list-group-item {
    /* Estilos para los elementos del ListGroup */
    background-color: #fb9352;
    color: white;
    border: none;
}
/* Profile.css */
.list-group-background {
    background-color: #341956; 
  }
  /* Profile.css */
  .welcome {
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: 0.8em; /* Reduce el tamaño del texto. Ajusta este valor a tus necesidades */
}

/* Profile.css */

/* Estilos para el contenedor principal */
.profile {
    display: flex;
  }
  
  /* Estilos para el contenido del perfil */
  .profile-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  /* Estilos para el título de bienvenida */
  .welcome {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Estilos para los botones */
  .text-center {
    text-align: center;
  }
  
  /* Estilos para el Sidebar */
  .profile-sidebar {
    width: 250px; /* Ancho del sidebar */
    background-color: #f0f0f0; /* Color de fondo del sidebar */
    padding: 20px;
  }
  
  /* Estilos para los enlaces del Sidebar */
  .sidebar-link {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: #333; /* Color del texto de los enlaces */
    text-decoration: none;
  }
  
  .sidebar-link:hover {
    background-color: #ddd; /* Color de fondo al pasar el mouse sobre los enlaces */
  }
  .profile {
    display: flex;
  }
  
  .profile .flex-column {
    background-color: #fb9352;
    height: 100vh;
    padding: 10px;
    margin-left: 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    
  }
  
  .profile .flex-column .nav-link {
    color: #333;
    margin-bottom: 15px;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .profile .flex-column .nav-link:hover {
    color: #007bff;
    text-decoration: none;
  }
  
  .profile .flex-column .nav-link.active {
    color: #007bff;
  }
  .custom-form {
    max-width: 500px; /* Ajusta este valor a tu gusto */
    margin: 0 auto; /* Centra el formulario horizontalmente */
  }
  .custom-card {
    border-radius: 15px; /* Añade bordes redondeados a la tarjeta */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Añade una sombra a la tarjeta */
    padding: 20px; /* Añade padding dentro de la tarjeta */
   width: 500px;
    background-color: #f8f9fa; /* Cambia el color de fondo de la tarjeta */
  }